---
---
{% include css/bootstrap.min.css %}

a {
  text-decoration:none;
  color:rgba(255,120,96,1);
}
a:hover {
  text-decoration:none;
  color:  #FF3A1C;
}

.main {
  background-color: #fcfcff;
  padding: 10px 0;

  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.content { margin-top: 15px; }

body { 
  color: #333;
  background:#eee url(assets/background.png);
}
h1, h2 {

  color: #FF3A1C;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header h1 {
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
  background: url(/assets/masthead.png) center bottom no-repeat;
  padding-top: 30px;
  height: 90px;
  max-width: 600px;
  margin: 0 auto 0 auto;
}

header h1 a {
  color: rgba(255,120,96,1);
  margin-top : 40px;
  display: block;
  text-shadow: 0px 1px 1px #33342D;
}
header h1 a:hover {
  color:  #FF3A1C;
  text-decoration: none;
}

@media (min-width: 500px) {
  header h1 {
    font-size: 50px;
    line-height: 48px;

    padding-top: 20px;
  }
}

header {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

header {
  position: relative;
  z-index: 20;
  background: rgb(255,200,145); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,200,145,1) 0%, rgba(255,173,96,1) 44%, rgba(255,120,96,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,200,145,1)), color-stop(44%,rgba(255,173,96,1)), color-stop(100%,rgba(255,120,96,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,200,145,1) 0%,rgba(255,173,96,1) 44%,rgba(255,120,96,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,200,145,1) 0%,rgba(255,173,96,1) 44%,rgba(255,120,96,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,200,145,1) 0%,rgba(255,173,96,1) 44%,rgba(255,120,96,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(255,200,145,1) 0%,rgba(255,173,96,1) 44%,rgba(255,120,96,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc891', endColorstr='#ff7860',GradientType=0 ); /* IE6-9 */
}

footer {
  width: 100%;
  padding-top: 10px;
}

.followers li {
  float: left;
  margin: 5px 0 0 6px;

  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.5);
  overflow: hidden;
  width: 45px;
  height: 45px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25)
}

.github-user img {
  width: 45px;
  height: 45px;
}
#sidebar .btn {
  width: 190px;
}
span.label { margin-right: 5px; }

.watch-docs {
  opacity:0;
  z-index:-1000;
  font-size:12px;
  position:absolute;
  top:-20px;
  left:-320px;
  width:275px;
  background:white;
  border:1px solid #CACACA;
  padding:15px 15px 10px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  transition:opacity .25s, z-index 0s .25s;
  -moz-transition:opacity .25s, z-index 0s .25s;
  -webkit-transition:opacity .25s, z-index 0s .25s;
}

.watch-docs.active {
  opacity:100;
  z-index:0;
  transition:opacity .25s, z-index 0s 0s;
  -moz-transition:opacity .25s, z-index 0s 0s;
  -webkit-transition:opacity .25s, z-index 0s 0s;
}

.watch-docs ol {
  list-style-type:decimal;
  padding-left:20px
}

.watch-docs img {
  margin:10px 15px 0px;
  text-align:center;
}


.published {
	display:block;
	text-align: center;
	float:right;
 padding: 0 10px;
}
.pub-month {
	display:block; 
	font-size: .9em;
}
.pub-date { 
	display:block; 
	font-size:1.4em;
}

.published {
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
