<!DOCTYPE html>
{% assign base = site.baseurl %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% if page.url == '/index.html' %}{{page.title}}{% else %}{{page.title}}{% endif %}</title>
    <meta name="description" content="Cape Town Node.js Users">
    <meta name="author" content="Adrian Rossouw">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='{{base}}site.css' type='text/css'/>
</head>
<body>

  <header>
    <h1><a class="brand" href="/">Node.js Cape Town</a></h1>
  </header>
  
  <div class='container'>
     <div class='row'>
      <div id='content' class='span5 offset2'>{{content}}</div>
      <div id='sidebar' class='span3'>
        <a class='watch btn btn-large btn-primary' 
          href='http://github.com/{{site.github_login}}/{{site.github_repo}}'>Watch this event</a>
        <div class='watch-docs'>
          <p>Watch this event by watching its repository on GitHub.</p>
          <ol>
            <li>Click on the "Watch this event" button.</li>
            <li>Login to GitHub or signup for a new account.</li>
            <li>Click the watch button for the repo.</li>
          </ol>
          <img src='assets/watch.png' />
        </div>
        <ul class='followers thumbnails'></ul>
      </div>
    </div>
  </div>
  <script id='watcherTpl' type='text/underscore'>
    <li class='span1'>
    <a class='github-user thumbnail' target='_blank'
      data-content='<%= model.escape('login') %>'
      href='http://github.com/<%= model.get('login') %>'>
        <img src='<%= model.get('avatar_url') %>' />
      </a>
    </li>
  </script>
  <script src='{{base}}site.js' type='text/javascript'></script>
  <script src='https://raw.github.com/caolan/async/master/dist/async.min.js' type='text/javascript'></script>
</body>
</html>
