<!DOCTYPE html>
{% assign base = site.baseurl %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% if page.url == '/index.html' %}{{page.title}}{% else %}{{page.title}}{% endif %} | Node.js Cape Town</title>
    <meta name="description" content="Cape Town Node.js Users">
    <meta name="author" content="Adrian Rossouw">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Audiowide|Ubuntu:500|Karla:400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='{{base}}site.css' type='text/css'/>
    <link rel="alternate" type="application/rss+xml" href="{{base}}feed.xml" />
</head>
<body>

  <header>
    <h1><a class="brand" href="/">Node.js Cape Town</a></h1>
  </header>
  
  <div class='container main'>
     <div class='row'>
       <div id='content' class='span9'>
         {{content}}
       </div>
       <div id='sidebar' class='span3'>
         {% include menu.html %}
         {% include events.html %}
         {% include posts.html %}
         {% include twitter.html %}
      </div>
    </div>
  </div>


  <script src='{{base}}site.js' type='text/javascript'></script>
</body>
</html>
